*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

header{
    background-color: #c9c5fff8;
    text-align: center;
    padding: 30px 10px;
    border-bottom: 1px solid #d0c7ff;
}

header h1{
    color: #4037B5;
    font-weight: bolder;
    margin-top: 20px;
}

header ul{
    list-style: none;
    margin-top: 30px;
}

#menu li{
    display: inline;
    margin: 0 25px;
    color: #3b2fb3;
}

#menu li a{
    text-decoration: none;
    color: #3b2fb3;
    font-weight: bold;
    padding: 5px;
    border-radius: 5px;
}

#menu li a:hover{
    cursor: pointer;
    color: #3b2fb3;
    text-decoration: none;
    background-color: #9f98ff;
}

section h2{
    background-color: #c9c5fff8;
    margin: 10px;
}